.admin-home-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	h1 {
		color: $color-primary;
	}

	.home-portion {
		h3 {
			font-size: $fs-700;
			font-weight: bold;
		}

		.active-data {
			display: flex;
			gap: 25%;
			align-items: center;
			margin-bottom: 10px;
			p {
				font-size: 20px;
			}
		}

		.container-portion {
			min-height: 150px;
			height: fit-content;
			border: 1px solid black;
			border-radius: 15px;
			padding: 1rem;
			overflow-x: auto;
			// display: flex;
			// gap: 25%;
		}

		.second-performance-container {
			display: block;
			margin-top: 1rem;

			select {
				font-size: $fs-1100;
				padding: 0.2rem 1rem 0.2rem 1rem;
				border-radius: 14px;
			}

			button {
				background-color: lightgreen;
				padding: 0.5rem 0.8rem;
				border-radius: 14px;
				border: none;
			}
		}

		.sales-container {
			display: block;
			select {
				font-size: $fs-1100;
				padding: 0.2rem 1rem 0.2rem 1rem;
				border-radius: 14px;
			}

			.sales-selected {
				margin-top: 1rem;
				table {
					td {
						border: none !important;
					}
				}
			}
		}

		.performance-container {
			gap: 10%;
		}
	}
}
